@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.main-box {
    height: 100vh;
    width: 100vw;
    font-size: 0;
}

.container-left, .container-right {
    font-size: 16px;
}

.container-left {
    display: inline-block;
    width: 60%;
    margin-top: 15%;
    padding-left: 136px;
}



.container-right {
    display: inline-block;
    width: 40%;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    position: absolute;
}
.container-left h1 {
    color: rgba(93, 93, 125, 1);
    font-size: 70px;
    line-height: 80px;
}

.container-left p {
    margin: 15px 0;
    line-height: 32px;
    font-size: 18px;
    color: rgba(93, 93, 125, 0.6);
    width: 415px;
    text-align: justify;
    
}

.container-left button {
    width: 220px;
    height: 58px;
    background: #9499ea;
    box-shadow: 0px 18px 24px rgba(148, 153, 234, 0.0979959);
    font-size:24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.container-left button:hover {
    opacity: 0.8;
}

.container-left button:active {
    opacity: 0.6;
}

img {
    position: relative;
    top: 25%;
    right: 90px;
    width: 300px;
    height: 375px;
}

header {
    position: absolute;
    top: 24px;
    left: 57px;
    right: 58px;
    font-size: 22px;
    
}

a {
    text-decoration: none;
    margin-left: 40px;
    color: rgba(93, 93, 125, 1);
}

.work {
    opacity: 0.6;
}

@media (max-width: 1040px) {

    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 35px;
    }

    img {
        position: static;
        max-width: 85%;
    }

    header {
        display: none;
    }

    .container-left h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    .container-left p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        font-height: 24px;
    }

    .container-left button {
        display: block;
        margin: 0 auto;
        
    }
}

@media (max-width: 380px) {

    .container-left {
        height: 70%;
    }
}